* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0f1923;
    color: #fff;
    padding: 20px;
}

.search-container {
    max-width: 1200px;
    margin: 0 auto 20px;
}

#searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ff4655;
    background-color: #1f2731;
    color: #fff;
    border-radius: 12px;
}

.agents-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.agent-card {
    background-color: #1f2731;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s;
}

.agent-card:hover {
    transform: translateY(-10px);
}

.agent-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.agent-info {
    padding: 15px;
}


.agent-role {
    font-size: 18px;
    color: #bbb;
    margin-bottom: 10px;
}

.agent-abilities {
    list-style: none;
}

.agent-abilities li {
    margin-bottom: 5px;
    color: #ddd;
}